.container {
    display: grid;
    grid-gap: 5px;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px 400px 200px;
    grid-template-areas:
        "l h h h h h h h h h h h h"
        "m m c c c c c c c c c c c"
        "f f f f f f f f f f f f f";
}
.logo {
    background-color: #FFFFFF;
   grid-area: l;
}
.header {
	background-color: #E6E6FA;
    grid-area: h;
}
.menu {
	background-color: #FF69B4;
    grid-area: m;
}
.content {
	background-color: #AFEEEE;
    grid-area: c;
}
.footer {
	background-color: #FFDAB9;
   grid-area: f;
}